.skalar{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1%;
    padding: 1%;
    margin-right: 0;
    height: auto;
    border-style: solid;
    border-radius: 0%;
    box-shadow: 0 0 15px #888888;
}
.wektor{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1%;
    padding: 1%;
    margin-right: 0;
    height: auto;
    border-style: solid;
    border-radius: 0%;
    box-shadow: 0 0 15px #888888;
}
.dane{
    width: 100%;
    text-align: center;
}
.wartosc{
    width: 100%;
    text-align: center;
    font-size: 120%;
    margin-bottom: 0;
    list-style: square;
}
.wiecej{
    width: 100%;
    text-align: right;
    margin: 0%;
    margin-right: 0.1%;
    margin-bottom: 0%;
}
.wartosc_lista{
    margin: auto;
    margin-left: 33%;
}
.button_wiecej{
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 5px #888888;
    border-radius: 0%;
    margin-top: 2%;
    padding: 1% 2%;
}
.square_1{
	width: 180px;
	height: 35px;
	background: rgb(var(--r), var(--g), var(--b));
	position: relative; left: 18px;
	border-style:solid;
	border-width: medium;
	border-color:black;
}
.square_2{
	width: 180px;
	height: 35px;
	background: rgb(var(--tr), var(--tg), var(--tb));
	position: relative; left: 18px;
	border-style:solid;
	border-width: medium;
	border-color:black;
}
.square_3{
	width: 180px;
	height: 35px;
	background: rgb(var(--br), var(--bg), var(--bb));
	position: relative; left: 18px;
	border-style:solid;
	border-width: medium;
	border-color:black;
}
.hidden{display:none;}
.hidden{display:none;}
